<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="public-nav">
    <a class="navbar-brand" href="/"><img id="nav-logo" src="../../../assets/images/Blvd6Logo.png" alt="Blvd 6 Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto" id="public-ul">
            <li class="nav-item" id="iHome"><a href="#Home" class="nav-link">Home</a></li>
            <li class="nav-item" id="iAbout"><a href="#AboutUs" class="nav-link">About</a></li>
            <li class="nav-item" id="iServices"><a href="#Services" class="nav-link">Services</a></li>
            <li class="nav-item" id="iProducts"><a href="#Products" class="nav-link">Products</a></li>
            <li class="nav-item" id="iContact"><a href="#ContactUs" class="nav-link">Contact Us</a></li>
            <li class="nav-item" id="iAppointments"><a href="#Appointments" class="nav-link">Appointments</a></li>
        </ul>
        <ul class="navbar-nav mr-auto" id="admin-ul">
            <li class="nav-item active"><a href="/admin" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/admin/membership" class="nav-link">Membership</a></li>
            <li class="nav-item"><a href="/admin/products" class="nav-link">Products</a></li>
            <li class="nav-item"><a href="/admin/salon/edit" class="nav-link">Salon</a></li>
            <li class="nav-item"><a href="/admin/services" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="/admin/staff" class="nav-link">Staff</a></li>
        </ul>
    </div>
    <span class="float-right" id="appoinment-span"><script src='https://squareup.com/appointments/buyer/widget/c31d79bd-c529-4948-a646-ec483125c904/KWE73K697DQZM.js'></script></span>
</nav>