<div id="ServicesDiv" class="services-content table-responsive">
    <table class="table table-striped table-hover">
        <tbody>
            {{#each services}}
            <tr>
                <td style="vertical-align: middle;">
                    <h2>{{name}}</h2>
                </td>
                <td style="width: 20%; vertical-align: middle;">
                                <strong>Member Price:</strong> {{member_price}}<br />
                                <strong>Non-Member Price:</strong> {{nonmember_price}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $("#iServices").addClass("active");

        $("#admin-ul").hide();
        $("#public-ul").show();
    });
</script>